{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    <div class="portal_index">
        Category Index site
        {% for room in rooms %}
        <h1>{{ room.title }}</h1>
        {{ room.description | mqm_chat_render_string }}
        {% endfor %}
    </div>
{% endblock %}
